@keyframes etherialBlink {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}

.ethereal {
  border: 5px solid white;
  animation-name: etherialBlink;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.tileClass_btn_rotate {
  z-index: 15;
  font-size: 0.8em;
  font-weight: bold;
  padding: 1px;
  position: absolute;
  top: 0%;
  left: 100%;
  transform: translate(-100%, 0%);
}
