.ethereal {
  border: 1px solid white;
  animation-name: blink;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.tileClass_btn_rotate {
  z-index: 15;
  font-size: 0.8em;
  font-weight: bold;
  padding: 1px;
  position: absolute;
  top: 0%;
  left: 100%;
  transform: translate(-100%, 0%);
}
